.photo{
  &-category{
    padding: 1rem;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
      display: none;
    }
    &-button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}