.home-page-dog-history-header {
    background-color: #474747;
    padding: 5% 0 0 5%;

    &-logo {
        padding-top: 40px;
    }

    &-profile {
        display: flex;
        height: 70px;
        margin: 40px 0;
        &-img{
            object-fit: fill;
            border-radius: 4px;
            // border: 1px solid #8a8a8a;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        }

        &-detail {
            padding: 0 5%;
            // background-color: red;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            

            &-first {
                color: #8A8A8A;
                font-size: 12px;
            }

            &-second {
                display: flex;
                justify-content: space-between;
                color: #FFFFFF;
                font-size: 18px;
                margin-right: 9px;
                &-name{
                    padding-top: 5px;
                }
            }

            &-third {
                display: flex;
                justify-content: space-between;
                color: #8A8A8A;
                font-size: 12px;
                margin-right: 10px;

                &-point {
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }
        }
    }

    &-achievements {
        padding: 10px 0;
        font-size: 14px;
        color: #8A8A8A;

        &-images {
            margin: 15px 5% 0 0;
            // display: flex;
            // justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 5px;
            column-gap: 10px;
            padding-bottom: 15px;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 6.5px;
            }

            // .loading-spinning-circles {
            //     min-height: 151px;
            //     text-align: center;
            //     vertical-align: center;
            //     margin: auto;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            // }
        }

        &-right-arrow-img {
            padding: 2px 0 0 5px;
            height: 12px;
        }
    }
}


.loading-spinning-circles {
    min-height: 171px;
    text-align: center;
    vertical-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-dog-history-body {
    &-activity-log {
        padding: 50px 5% 40px 5%;
        font-weight: bold;

        &-title {
            line-height: 30px;
            font-size: 16px;
            color: black;
            padding-bottom: 10px;
        }

        &-sub-title {
            font-size: 14px;
            color: #8A8A8A;
            margin-bottom: 15px;
        }

        &-line {
            display: flex;
            justify-content: space-around;

            &-walk:active,
            &-cafe:active,
            &-restaurant:active,
            &-hospital:active,
            &-beauty:active,
            &-bath:active,
            &-etc:active {
                background-color: #3b3b3b;
                transform: scale(0.96);
            }

            &-walk,
            &-cafe,
            &-restaurant,
            &-hospital,
            &-beauty,
            &-bath,
            &-etc {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 44px;
                background-color: #474747;
                border-radius: 8px;
                margin: 10px 5px 0 0;
                padding: 0 18px;

                &-label {
                    color: #FFFFFF;
                    font-weight: 500;
                    font-size: 14px;
                }

                &-count {
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            &-walk {
                &-count {
                    color: #91CF9B;
                }
            }
    
            &-cafe {
                &-count {
                    color: #CCB7A3;
                }
            }
    
            &-restaurant {
                &-count {
                    color: #FFE99B;
                }
            }
    
            &-hospital {
                &-count {
                    color: #DACDFF;
                }
            }
    
            &-beauty {
                &-count {
                    color: #FFCCE8;
                }
            }
    
            &-bath {
                &-count {
                    color: #9FD7FF;
                }
            }
        }
    }

    &-ranking {
        margin:40px 5%;

        &-header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            &-title {
                font-weight: bold;
                font-size: 16px;
                color: black;
            }
    
            &-all {
                font-size: 14px;
                font-weight: 400;
                color: #8A8A8A;
    
            }
        }

        &-summary {
            height: 55px;
            background: #3F3F3F;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0 6%;
            &-first{
                display: flex;
                justify-content: space-between;
                &-ranking{
                    color:#AA93EC;
                    font-size:16px;
                    font-weight: 700;
                }
                &-name{
                    color:white;
                    font-size:16px;
                    font-weight: 500;
                    padding: 0 30px 0 20px;
                }
                &-last-ranking{
                    color:#8A8A8A;
                    font-size: 12px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                }
            }
            &-point{
                color:#8A8A8A;
                font-size: 14px;
                font-weight: 500;
            }
        }

        &-detail {
            padding-top: 20px;

            &-container {   
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 4px;
                margin-bottom: 7px;

                .home-page-dog-history-body-ranking-detail-rank {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 32px;
                    object-fit: cover;
                    margin-right: 10px;
                    font-weight: 500;
                    color: black;
                }

                .home-page-dog-history-body-ranking-detail-dog-profile {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 49px;
                    background: #FFFFFF;
                    img{
                        width: 35px;
                        height: 35px;
                        border-radius: 2px;
                    }
                    &-name-point {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #8A8A8A;
                        font-size: 14px;
                        font-weight: 500;
                        width: 100%;
                        padding: 0 7%;
                        .dog-name{
                            color:black;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.home-page-neighbord-posts {
    margin: 40px 5% 100px 5%;

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &-title {
            font-size: 16px;
            color: black;
            font-weight: bold;
        }

        &-all {
            font-size: 14px;
            font-weight: 400;
            color: #8A8A8A;

        }
    }

    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

        .home-page-neighbord-post {
            position: relative;

            img {
                width: 100%;
                height: 162px;
                border-radius: 10px;
            }

            .img-overLay {
                position: absolute;
                width: 100%;
                height: 162px;
                background-color: rgba(112, 111, 111, 0.5);
                top: 0px;
                opacity: 1;
                transition: all 0.5s;
                z-index: 10;
                border-radius: 10px;
            }

            .img-overLay:active {
                opacity: 0;
            }
        }
    }
}