.capture-img-result {
    &-header {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: bold;
        padding: 10vh 5% 10px 5%;

        &-date {
            color: #000000;
        }

        &-correction {
            color: #8A8A8A
        }

    }

    &-main {
        &-header {
            display: flex;
            justify-content: space-between;
            padding: 30px 5% 0 5%;

            &-title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                font-weight: bold;
            }
            &-walk,
            &-cafe,
            &-restaurant,
            &-hospital,
            &-beauty,
            &-bath,
            &-etc {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 52px;
                font-size: 17.12px;
                font-weight: bold;
                object-fit: cover;
                border-radius: 100%;
            }

            &-walk {
                background: #C3EAC2;

                &-count {
                    color: #4A8C48;
                }
            }

            &-cafe {
                background: #DEC8B4;

                &-count {
                    color: #8E6947;
                }
            }

            &-restaurant {
                background: #FFEBA5;

                &-count {
                    color: #AD912B;
                }
            }

            &-hospital {
                background: #DACDFF;

                &-count {
                    color: #8269CB;
                }
            }

            &-beauty {
                background: #FFCCE8;

                &-count {
                    color: #B4588F;
                }
            }

            &-bath {
                background: #BEF0F7;

                &-count {
                    color: #328995;
                }
            }

            &-etc {
                background: #C4C4C4;

                &-count {
                    color: #000000;
                }
            }
        }

        &-content {
            padding: 10px 5% 0 5%;
            font-size: 14px;
            font-weight: 500;
        }
    }
}