.camera-page-backround {
    height: 100%;
}

.camera-page-icon-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 9.5vh
}

.camera-page-prev-arrow {
    position: absolute;
    top: 6vh;
    left: 6vw;
    z-index: 100;
}

.camera-page-complition-check {
    position: absolute;
    top: 6vh;
    right: 6vw;
    z-index: 100;
}

.web-camera {
    margin-top: 15vh;
}
