.camera-page-backround {
    height: 100%;
}

.camera-page-prev-arrow {
    position: absolute;
    top: 5vh;
    left: 6vw;
    width: 6vw;
    height: 3vh;
}

.camera-transition-button {
    position: absolute;
    top: 4vh;
    right: 6vw;
    width: 10vw;
    height: 5vh;
}

.web-camera {
    margin-top: 10vh;
    // object-fit: fill;
}

.camera-capture-button {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18vw;
}
