.recordHeader {
  margin-top: 5vh;
  // margin: 20px 20px 20px 20px;
  display: flex;
  height: 3vh;
  justify-content: space-evenly;
  background-color: white;
  &-wrapper {
    background-color: white;
    height: 20vh;
    width: 100%;
    &.fixed{
      position: fixed;
    }
    z-index: 9999;

    img {
      height: 4vh;
      margin-left: 20px;
      margin-top: 6vh;
    }
  }

  &-item {
    width: 15vw;
    text-align: center;

    &.select {
      position: relative;

      &::after {
        position: absolute;
        bottom: -1.3vh;
        left: 0;
        width: 15vw;
        height: 0.5vh;
        // transform: translateX(-50%);
        content: "";
        background-color: #d9d9d9;
      }
    }
  }
}