.achievement-bottom-sheet-container {
    z-index: 100;
    overflow-y: hidden;
}

.achievement-bottom-sheet {
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    height: 100%;

    &-first-line {
        &-title {
            margin: 30px 0 5px 0;
            font-weight: 400;
            font-size: 12px;
            color: #3F3F3F;
        }

        &-name {
            font-weight: 700;
            font-size: 18px;
        }
    }

    &-second-line {
        margin: 15px 0;
        font-weight: 400;
        font-size: 12px;
        color: #3F3F3F;
        &-sub-text {
            margin-bottom: 2px;

        }
    }
}