.achievement-bottom-sheet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    z-index: 100;
    overflow-y: hidden;

    &-first-line {
        &-title {
            margin: 10px 0 5px 0;
            font-weight: 400;
            font-size: 12px;
            color: #3F3F3F;
        }

        &-name {
            font-weight: 700;
            font-size: 18px;
        }
    }

    &-second-line {
        margin-top: -20px;
        font-weight: 400;
        font-size: 12px;
        color: #3F3F3F;
    }
    &-x{
        position: absolute;
        top:30px;
        right: 20px;
    }
    &-img{
        margin-top: -20px;
        text-align: center;
    }
}